<section>

          <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">How it works?<br> <span class="text-muted">Meet Jason</span></h2>
            <p class="lead" align="left">As a full-time developer, Jason doesn’t have time to get harassed by recruiters or browse multiple job ads but would like to remain open to new opportunities without jeopardizing his current position. </p>
          </div>
          <div class="col-md-5">
            <img src="images/jason.png" width="250" class="featurette-image img-fluid mx-auto" >
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that easy. <span class="text-muted">Creating a profile.</span></h2>
            <p class="lead" align="left">Jason created an anonymous profile on TalentSeek to showcase his skills and experience without revealing his identity.  </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img src="images/resume.png" width="500" class="featurette-image img-fluid mx-auto" >
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">All in your hands. <br><span class="text-muted">Accept Offers.</span></h2>
            <p class="lead" align="left">Now, top tech employers apply to Jason. He accepts offers which most interest him, keeping his current job safe, giving him a stronger negotiating position.</p>
          </div>
          <div class="col-md-5">
            <img src="images/payment-method.png" width="500" class="featurette-image img-fluid mx-auto" >
          </div>
        </div>

        <hr class="featurette-divider">
        <a href="/access" class="btn btn-lg btn-secondary"><i class="fas fa-sign-in-alt"></i> GIVE ME EARLY ACCESS</a>
<hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->

</section>
