<section>

          <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">How it works?<br> <span class="text-muted">Meet Jason</span></h2>
            <p class="lead" align="left">This is Jason, he is a front end developer.

Jason doesn’t have time to browse job ads because he is currently working.

So, Jason created his anonymous profile on TalentSeek. It only took 8 minutes of his time.

Now Jason can be open for new opportunities without his boss and team mates knowing.

Now, top tech employers apply to Jason. He reviews new proposals and only reveals his name and contact details to the best invitations.</p>
          </div>
          <div class="col-md-5">
            <img src="images/jason.png" width="250" class="featurette-image img-fluid mx-auto" >
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead" align="left">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img src="images/resume.png" width="500" class="featurette-image img-fluid mx-auto" >
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead" align="left">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img src="images/pay.png" width="500" class="featurette-image img-fluid mx-auto" >
          </div>
        </div>

        <hr class="featurette-divider">
        <a href="#" class="btn btn-lg btn-secondary"><i class="fas fa-sign-in-alt"></i> GIVE ME EARLY ACCESS</a>
<hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->

</section>
