  <main role="main" class="inner cover">
    <h1 class="cover-heading">Join the Remote Revolution!</h1>
    <p class="lead">Join our anonymous community of developers and get offers based on your skills and experience, only sharing your contact details with those that most interest you. </p>
    <p class="lead">
      <a href="/access" class="btn btn-lg btn-secondary"><i class="fas fa-sign-in-alt"></i> GIVE ME EARLY ACCESS</a>
    </p>
  </main>